@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-image:
        url('/img/bg-pattern.png'),
        linear-gradient(to right, rgba(218, 36, 49, 1), rgba(122, 67, 151, 1));
}

h1,
nav {
    font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
}

button,
.menülink {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

p {
    font-family: 'Mulish', 'Helvetica', 'Arial', sans-serif;
}

footer {
    font-family: 'Mulish', 'Helvetica', 'Arial', sans-serif;
}


nav {
    max-width: 85%;
}

.menuItems {}

.firstSection, .fourthSection {
    font-family: 'Mulish', 'Helvetica', 'Arial', sans-serif;
    font-size: 2rem;
}

.btnSpecial {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    border-radius: 25px;
    font-size: .7rem;
}

.imgResize {
    width: 200px;
}

.secondSection {
    background-color: rgb(254, 203, 78);
}

.liner {
    letter-spacing: -3px;
    color: rgb(221, 221, 221);
    font-weight: bold;
}

.card {
    border: 0;
}

.iconDesign {
    font-size: 3.5rem;
    background: -moz-linear-gradient(to right, rgba(218, 36, 49, 1), rgba(122, 67, 151, 1));
    background: -webkit-linear-gradient(to right, rgba(218, 36, 49, 1), rgba(122, 67, 151, 1));
    background: linear-gradient(to right, rgba(218, 36, 49, 1), rgba(122, 67, 151, 1));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.fourthSection {
    /* background: rgba(0, 0, 0, 0.9); */
    background-image:
    linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('/img/bg-cta.jpg');
    background-position: center;
    background-size: cover;
}